<a href="https://colab.research.google.com/github/shutamiendang/Basic-Python-Programming-for-Data-Science/blob/main/Tugas2_Bag_2_Siti_Hutami_Endang_Nopiyanti_1800015085.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Input & Output pada Pyhton

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [3]:
#ew mencoba input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")
universitas = input("Universitas : ")
hobi = input("Hobi : ")
mediasosial = input("Instagram : ")

Nama : Siti Hutami Endang Nopiyanti
Umur : 21 Tahun
Alamat : Jalan Luar Batang II No.31 RT/RW 01 Penjaringan, Jakarta Utara. kode pos :14440 . DKI Jakarta
Universitas : Universitas Ahmad Dahlan
Hobi : Traveling dan Editor Photo
Instagram : @ewendangs

In [4]:
print(nama)
print(umur)
print(alamat)
print(universitas)
print(mediasosial)
type(nama)
type(umur)
type(alamat)
type(mediasosial)

Siti Hutami Endang Nopiyanti
21 Tahun
Jalan Luar Batang II No.31 RT/RW 01 Penjaringan, Jakarta Utara. kode pos :14440 . DKI Jakarta
Universitas Ahmad Dahlan
@ewendangs

str

ew mencoba

In [5]:
# Membuat input bertipe data integer (int)
tryin = (int(input())+ float(input()))
print(tryin)

5
10
15.0

ew mencoba kembali

In [9]:
print("Nama saya"+" "+ nama +", "+ "berumur"+" "+ umur +" "+ "yang sedang menempuh pendidikan di"+" "+ universitas)

Nama saya Siti Hutami Endang Nopiyanti, berumur 21 Tahun yang sedang menempuh pendidikan di Universitas Ahmad Dahlan

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [10]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Ken", umur = 20)
txt1

'Nama saya Ken, Saya berumur 20'

In [11]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Ken",20)
txt2

'Nama saya Ken, Saya berumur 20'

In [12]:
txt3 = "Nama saya {}, Saya berumur {}".format("Ken",20)
txt3

'Nama saya Ken, Saya berumur 20'

ew akan mencoba

In [14]:
questions = "ew : Hi, Nama aku {}, Nama kamu siapa?".format("Endang")
answer = "ajiz : Nama Saya {0}, salam kenal ya".format("Ajiz")
print(questions) 
print(answer)

ew : Hi, Nama aku Endang, Nama kamu siapa?
ajiz : Nama Saya Ajiz, salam kenal ya

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [ ]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

ew mencoba lagi

In [16]:
print("Nama saya %s yang berumur %s" %(nama, umur,))
print("Akun media sosial adalah instagram dengan username %s" %(mediasosial))

Nama saya Siti Hutami Endang Nopiyanti yang berumur 21 Tahun
Akun media sosial adalah instagram dengan username @ewendangs

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

versi ew

In [25]:
var1 = 'Assalamualaikum Dunia Tipu Tipu!'
var2 = 4646
var3 = 0.14045
var4 = False
var5 = 1j+1j+8+8

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

ew akan mencoba

In [26]:
var1,(var2, var4)

('Assalamualaikum Dunia Tipu Tipu!', (4646, False))

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [27]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia Tipu Tipu!
4646
0.14045
False
(16+2j)

tampilan variabel versi ew

In [28]:
#mencoba versi dirikoh

print(var1) #String

print(var2) #Int

print(var3) #Float

print(var4) #Boolean

print(var5) #Complex

Assalamualaikum Dunia Tipu Tipu!
4646
0.14045
False
(16+2j)

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.

**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

 **Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [29]:
type(var1)

str

ew mengecek tipe variabel

In [30]:
print(var1,'Tipe data var1:', type(var1)) #String

print(var2,'Tipe data var2:', type(var2)) #Int

print(var3,'Tipe data var3:', type(var3)) #Float

print(var4,'Tipe data var4:', type(var4)) #Boolean

print(var5,'Tipe data var5:', type(var5)) #complex

Assalamualaikum Dunia Tipu Tipu! Tipe data var1: <class 'str'>
4646 Tipe data var2: <class 'int'>
0.14045 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(16+2j) Tipe data var5: <class 'complex'>

### Konversi Tipe Data

Capek gag sih ? sama aku juga hehe , bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begindang .

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [31]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [32]:
#ew mengkonversi
data1 = 16
data2 = 1999
print("Data =", data1, ", type =", type(number))
print("Data =", data2, ", type =", type(number))

float_ = float(number)
str_ = str(number)
bool_ = bool(number) 

# Melihat data yang telah dikonversi
print("Kita perhatikan tipe konversi dibawah ini : ")
print("Data = ", float_ , ",type =", type(float_))
print("Data = ", str_ ,   ",type =", type(str_))
print("Data = ", bool_ ,  ",type =", type(bool_))

Data = 16 , type = <class 'int'>
Data = 1999 , type = <class 'int'>
Kita perhatikan tipe konversi dibawah ini :
Data =  10.0 ,type = <class 'float'>
Data =  10 ,type = <class 'str'>
Data =  True ,type = <class 'bool'>

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [33]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

ew mencoba

In [34]:
letstry = [2, 3, 5, 7, 11, 'itu adalah angka Prima']
letstry

[2, 3, 5, 7, 11, 'itu adalah angka Prima']

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [35]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

ew mencoba

In [36]:
xixi = [11, 13, 17, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]
print(xixi[11])
print(xixi[-2])
print(xixi[4:6])
print(xixi[:7])
print(xixi[-5:])
print(xixi[2:8:1])

59
59
[29, 31]
[11, 13, 17, 23, 29, 31, 37]
[43, 47, 53, 59, 61]
[17, 23, 29, 31, 37, 41]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [37]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [38]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

ew akan mencoba

In [39]:
#ew mengganti elemen
ew = [5, 10, 25]
ew[2] = 30
print(ew)

#ew menambah elemen
ew = [5, 10, 25]
ew[2] = 30
ew.append(35) #append artinya menambah
print(ew)

[5, 10, 30]
[5, 10, 30, 35]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

In [40]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

ew mencoba

In [41]:
buah = ['Naga', 'Nanas' , 'Pisang', 'Jeruk']
del buah[3]
print(buah)

['Naga', 'Nanas', 'Pisang']

Coba tambahkan kembali:

In [42]:
buah = ['Naga', 'Nanas' , 'Pisang', 'Jeruk']
del buah[3]
print(buah)
del buah[2]
print(buah)

['Naga', 'Nanas', 'Pisang']
['Naga', 'Nanas']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [43]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

let's try

In [44]:
s = "Hi, capek ya ? !"
print(s[5]) 		
print(s[4:10]) 		
s = "Sama aku juga!"	
print (s)

a
capek
Sama aku juga!

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [45]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [46]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [50]:
kita = (8, 2,2021 ,'Hari jadi kita')
print (kita)
print(kita[-1])
del[]

(8, 2, 2021, 'Hari jadi kita')
Hari jadi kita

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [51]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [52]:
a = {1,2,3}
print(a[1])

TypeError: ignored

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [53]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [54]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [55]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [56]:
#ew mencoba
dc = {16:'nilai','kunci':13}
print(type(dc))
print("dc[16] adalah ", dc[16]);
print("dc['kunci'] adalah", dc['kunci'])

<class 'dict'>
dc[16] adalah  nilai
dc['kunci'] adalah 13

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [57]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [58]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

Jadi yang saya dapat tentang Tuple, Set & Dictionary adalah sebagai berikut :

Tuple : Tuples sebenarnya sama seperti list. Namun perbedaannya hanya pada pembuatannya. Bila list menggunakan kurung siku buka dan tutup “[]” untuk mengawali dan mengakhirinya, maka pada tuples, menggunakan kurung buka dan tutup biasa “()” untuk mengawali dan mengakhiri elemennya.

Set : set mengunakan kurung kurawal buka untuk pembukanya dan kurung kurawal tutup untuk menutupnya “{}”. Dan data di dalamnya dipisahkan oleh tanda koma. Dan lebih aneh nya lagi, data – data yan gada pada SET ini tidak boleh ada yang sama.

Dictionary : Dictionaries adalah koleksi pasangan item-item berasosiasi dimana setiap pasangan terdiri dari suatu key dan value. Pasangan key-value ini ditulis seabagai key:value. Dictionaries ditulis dipisahkan koma dalam kurung kurawal. Untuk lebih memahaminya, silahkan kalian ketik code di bawah ini pada command line atau IDLE python.

Alhamdulillah Selesai